<div class="toBeShown">
    @if (Model.Length > 2)
    {
        @foreach(var word in Model)
        {
            <p>@word</p>
        }
    }
    else
    { 
        <h3>Input: @Model[1]</h3>
        <div id="raw">@Html.Raw(Model[0])</div>
    }
</div>






@*@Html.Encode(Model)*@
    @*<div id="interactable" class=@Model[Model.Length-1]>*@
         @*@if (Model.Results.Count != 0)
            {
                <p>@Model.Results[0].Alternatives[0].Transcript</p>
            }*@
        @*@foreach (var word in Model)
        {
            <p>@word</p>

        }*@
    @*</div>*@